---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PaginatedPosts from "@/layouts/components/PaginatedPosts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { summary_length } = config.settings;
const postIndex = await getEntry("financial-solutions", "-index.md");
const posts = await getSinglePage("financial-solutions");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base title={postIndex?.data.title}>
  <section class="section">
    <div class="container">
      <h1
        class="mb-10 font-normal lg:text-[56px] leading-tight"
        set:html={markdownify(postIndex?.data.title || "Financial Solutions")}
      />
      <PaginatedPosts
        posts={currentPosts}
        section="financial-solutions"
        currentPage={1}
        totalPages={totalPages}
      />
    </div>
  </section>
</Base>
