---
import { markdownify } from "@/lib/utils/textConverter";
import { render } from "astro:content";

const { post } = Astro.props;
const { Content } = await render(post);
const { title, image, categories } = post.data;

const applyLeadingTight =
  categories.includes("Personal Finance") ||
  categories.includes("Financial Solutions");
---

<section class="section">
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 lg:col-10 xl:col-8">
        <article class="blog-post-single">
          {
            image && (
              <div class="mb-6 overflow-hidden rounded-lg">
                <img
                  src={image}
                  height="500"
                  width="1000"
                  alt={title}
                  class="w-full h-auto object-cover"
                />
              </div>
            )
          }
          <h1
            set:html={markdownify(title)}
            class:list={[
              "h2 text-left my-4 md:my-6",
              { "leading-tight": applyLeadingTight },
            ]}
          />

          <div
            class:list={[
              "content mb-16 text-left",
              { "leading-tight": applyLeadingTight },
            ]}
          >
            <Content />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
